.container {
  position: relative;
  width: 100%;
  height: 115vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  background-size: cover;
}

.container .section {
  position: relative;
  width: 100%;
  height: 115vh;
  background-size: cover;
}

.container .section:nth-child(1) {
  background: url("../../Assets/Resume-bg-img.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.img-over {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  cursor: pointer;
}
