.under:after {
  display: block;
  content: "";
  border-bottom: solid 2px #00ffff;
  padding-bottom: 1.5%;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

.under:hover:after {
  transform: scaleX(1);
}
